site_name: Maxim Papusha's Blog
site_description: A blog about computational chemistry and cheminformatics
site_author: Maxim Papusha
site_url: https://maxim-papusha.github.io/

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html

plugins:
  - search
  - mkdocs-jupyter:
      include_source: True
      execute: false

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Blog:
    - Computational Chemistry Examples: blog/computational-chemistry.md
  - Notebooks:
    - Jupyter Example: notebooks/jupyter-example.ipynb
    - Marimo Example: notebooks/marimo-example.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/maxim-papusha
